/requirements_*
/environment*

/draft
/checkpoints
/logs
/mae-cxr
/wandb

/src
/data

/__pycache__

/worktable.ipynb

*/__pycache__/

/covid_cxr_ssl_eval
/nih_cxr_ssl_eval
output.txt

*.sh
*.ipynb_checkpoints
*.pyc
*.pkl
*.pth
*.ckpt
*.log
*.csv
*.sqlite
*.tar
*.gz
*.zip
*.egg-info
.vscode/
.env
output.txt
